@import "../../../stylesheets/core/_variables.scss";
@import "../../../stylesheets/core/_mixins.scss";

.main {
  &__plane {
    position: absolute;
    top: 0px;
    right: -20px;
    transform: rotate(-25deg);
    width: 600px;
    animation: float 6s infinite;
  }

  .layer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      z-index: 1000;
      max-width: 100%;
      padding: 30px;
    }

    .start {
      z-index: 1000;
    }
  }
}

@keyframes float {
  0% {
    transform: rotate(-20deg) translatey(50px);
  }
  50% {
    transform: rotate(-20deg) translatey(0px);
  }
  100% {
    transform: rotate(-20deg) translatey(50px);
  }
}
