@import "../../../stylesheets/core/_variables.scss";

.loader {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--text {
    color: $color-light;
    font-family: $font-primary;
    font-size: $font-extra-medium;

    & span {
      font-size: $font-large;
    }
  }
}
