// Breakpoints

$tablet: 768px;
$display: 1280px;

/* FONT SIZES */

$font-regular: 16px;
$font-small: 14px;
$font-extra-medium: 20px;
$font-medium: 32px;
$font-large: 40px;
$font-extra-big: 150px;

/* FONT FAMILY */

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Merriweather", serif;

/* COLORS */

$color-primary: #a9cc55;
$color-secondary: #1f8e45;
$color-tertiary: #1f568e40;
$color-light: #ffffff;
$color-dark: #000000;
$color-shadow: 0px 0px 57px 13px rgba(230, 255, 0, 1);
$color-shadow-secondary: 0px 0px 30px 5px rgba(230, 255, 0, 1);
